

$serif : 'Lobster', serif;
$sans-serif: 'Lato', sans-serif;



$white :#efefef;
$lightgrey : lightgrey;
$grey : grey;
$black: #444444;
$darkgrey : rgb(32, 32, 32);


$arrowsColor:  grey;

$highlight-color: teal;