<div class="container" >
  <div class="centrado">
    <div class="p" (click)='wheelUp($event)' *ngIf="eng">
   
      <div class="letter__p">W</div>
      <div class="letter__p">e</div>
      <div class="letter__p">l</div>
      <div class="letter__p">c</div>
      <div class="letter__p">o</div>
      <div class="letter__p">m</div>
      <div class="letter__p">e</div>
      <div class="letter__p">!</div>

    </div>
    <div class="p" (click)='wheelUp($event)' *ngIf="spa">
      <div class="letter__p">¡</div>
      <div class="letter__p">H</div>
      <div class="letter__p">o</div>
      <div class="letter__p">l</div>
      <div class="letter__p">a</div>
    
      <div class="letter__p">!</div>

    </div>
    <div class="h2" (click)='wheelDown($event)' *ngIf="eng" >
      <div class="word"><div class="letter__h2">I</div>
      <div class="letter__h2">'</div>
      <div class="letter__h2">m</div></div>


      <div class="letter__h2">&nbsp;</div>
      <div class="word"><div class="letter__h2">S</div>
      <div class="letter__h2">a</div>
      <div class="letter__h2">r</div>
      <div class="letter__h2">a</div></div>
      <div class="letter__space">&nbsp;</div>
      <div class="word"><div class="letter__h2">M</div>
      <div class="letter__h2">a</div>
      <div class="letter__h2">r</div>
      <div class="letter__h2">t</div>
      <div class="letter__h2">í</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">-</div>
      <div class="letter__h2">A</div>
      <div class="letter__h2">l</div>
      <div class="letter__h2">o</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">s</div>
      <div class="letter__h2">o</div>
      <div class="letter__h2">,</div></div>
      <div class="letter__space">&nbsp;</div>
     <div class="word"> <div class="letter__h2">J</div>
     <div class="letter__h2">u</div>
     <div class="letter__h2">n</div>
     <div class="letter__h2">i</div>
     <div class="letter__h2">o</div>
     <div class="letter__h2">r</div></div>
      <div class="letter__space">&nbsp;</div>
      <div class="word"><div class="letter__h2">F</div>
      <div class="letter__h2">r</div>
      <div class="letter__h2">o</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">t</div>
      <div class="letter__h2">e</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">d</div></div>
      <div class="letter__space"> &nbsp; </div>
     <div class="word"> <div class="letter__h2">D</div>
     <div class="letter__h2">e</div>
     <div class="letter__h2">v</div>
     <div class="letter__h2">e</div>
     <div class="letter__h2">l</div>
     <div class="letter__h2">o</div>
     <div class="letter__h2">p</div>
     <div class="letter__h2">e</div>
     <div class="letter__h2">r</div></div>
      <!-- I'm Sara Martin-Alonso, Junior Frontend Developer -->
    </div>
    <div class="h2" (click)='wheelDown($event)' *ngIf="spa">
      <div class="word">
      <div class="letter__h2">S</div>
      <div class="letter__h2">o</div>
      <div class="letter__h2">y</div>
    </div>
      <div class="letter__h2">&nbsp;</div>

      <div class="word"><div class="letter__h2">S</div>
      <div class="letter__h2">a</div>
      <div class="letter__h2">r</div>
      <div class="letter__h2">a</div></div>
      <div class="letter__space">&nbsp;</div>
      <div class="word"><div class="letter__h2">M</div>
      <div class="letter__h2">a</div>
      <div class="letter__h2">r</div>
      <div class="letter__h2">t</div>
      <div class="letter__h2">í</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">-</div>
      <div class="letter__h2">A</div>
      <div class="letter__h2">l</div>
      <div class="letter__h2">o</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">s</div>
      <div class="letter__h2">o</div>
      <div class="letter__h2">,</div></div>
      <div class="letter__space">&nbsp;</div>
     <div class="word"> <div class="letter__h2">J</div>
     <div class="letter__h2">u</div>
     <div class="letter__h2">n</div>
     <div class="letter__h2">i</div>
     <div class="letter__h2">o</div>
     <div class="letter__h2">r</div></div>
      <div class="letter__space">&nbsp;</div>
      <div class="word"><div class="letter__h2">F</div>
      <div class="letter__h2">r</div>
      <div class="letter__h2">o</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">t</div>
      <div class="letter__h2">e</div>
      <div class="letter__h2">n</div>
      <div class="letter__h2">d</div></div>
      <div class="letter__space"> &nbsp; </div>
     <div class="word"> <div class="letter__h2">D</div>
     <div class="letter__h2">e</div>
     <div class="letter__h2">v</div>
     <div class="letter__h2">e</div>
     <div class="letter__h2">l</div>
     <div class="letter__h2">o</div>
     <div class="letter__h2">p</div>
     <div class="letter__h2">e</div>
     <div class="letter__h2">r</div></div>
      <!-- I'm Sara Martin-Alonso, Junior Frontend Developer -->
    </div>
  </div>
</div>

<div class="arrows scrollSign " [ngClass]="{'deactivated': deactivate}">
  <i  class="fas fas fa-chevron-up arrow1" (click)='wheelUp($event)'></i>
  <i class="fas fa-circle arrow2" (click)='centerButton($event)' ></i>
  <i class="fas fas fa-chevron-down arrow3" (click)='wheelDown($event)'></i>
</div>
